h1 {font-family: sans-serif;
font-size: 38px;
color: 3a4660;
text-align: center;
}

h2 {color: #3a4660; 
	font-style: sans-serif; font-family:sans-serif; 
	text-align: center}
a {color: #3a4660; }


h4 {color: #3a4660; 
	font-style: sans-serif; font-family:sans-serif; 
	font-size: 38px;
	margin-left: 115px;}
a {color: #3a4660; }



p{font-family: sans-serif;
font-size: 18px;
color: 3a4660;
text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


img {
display: block; 
margin-left: auto; 
margin-right: auto; width: 50%;
}

audio {margin-left: 100px;} 

